.modal {
  background-color: rgba(0, 0, 0, 0.8);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;

  &__body {
    @include flex_direction_col;
    background-color: var(--color-dark-theme-primary);
    border-radius: 0.4rem;
    min-height: 50rem;
    max-height: 75%;
    padding: 1.5rem 4rem 4rem 4rem;
    overflow-y: scroll;
    transition: all 0.5s 0.2s;
    width: 40rem;
  }

  &__content {
    margin: var(--margin-sm) 0;
    height: max-content;

    display: flex;
    justify-content: center;
  }
}
