@import './CreateTicketBtn/styles';
@import './SprintDetails/styles';
@import './StoryPoints/styles';

$sprint-console-grid-cols: 25rem auto;
$sprint-console-grid-rows: 40% 30% 30%;
$sprint-console-height: 100%;
$sprint-console-margin: 0 2rem;
$sprint-console-z-index: 0;

.sprint-console {
  color: var(--color-grey-light);
  display: grid;
  grid-template-columns: $sprint-console-grid-cols;
  grid-template-rows: $sprint-console-grid-rows;
  grid-template-areas:
    'title  body'
    'date  body'
    'createTicket  body';

  height: $sprint-console-height;
  margin: $sprint-console-margin;
  z-index: $sprint-console-z-index;
}
