.sprint-que {
  margin: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  z-index: 0;

  .ticket-table {
    display: grid;
    grid-template-columns: 50% 10% 15% 15% 10%;
    background-color: var(--color-dark-theme-primary);
    color: #fff;
    th {
      &:not(:first-child) {
        border-left: 0.2rem solid var(--color-dark-theme-secondary);
      }
      padding: 0.4rem;
      font-size: 1.4rem;
      font-weight: 500;
      text-align: center;
      @media (max-width: 1300px) {
        &:last-child {
          font-size: 1rem;
        }
      }
    }
  }
}
