$project-console-max-width: 65rem;
$project-console-title-font-size: 2.4rem;
$project-console-title-margin: 1rem 0 0 2rem;

$polygon-clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
$polygon-border-height: 1rem;
$polygon-border-margin: 1rem 0 1.5rem 0;
$mobile-polygon-border-margin: 1rem 0 1rem 0;

$create-project-btn-border: 0.2rem dashed var(--color-grey-light);
$create-project-btn-font-weight: 300;

.project-console {
  @include flex-direction_col;
  max-width: $project-console-max-width;
  &__title {
    color: var(--color-grey-light);
    font-size: $project-console-title-font-size;
    letter-spacing: var(--letter-spacing-sm);
    margin: $project-console-title-margin;
  }
  @include respond(mobile) {
    @include full_wh;
  }
}
.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include respond(mobile) {
    @include full_wh;
    @include flex-direction_col;
  }
}
.polygon-border {
  background-color: var(--color-primary-light);
  clip-path: $polygon-clip-path;
  height: $polygon-border-height;
  margin: $polygon-border-margin;
  @include respond(mobile) {
    margin: $mobile-polygon-border-margin;
  }
}

.create-project-btn {
  border: $create-project-btn-border;
  color: var(--color-grey-light);
  font-weight: $create-project-btn-font-weight;
  letter-spacing: var(--letter-spacing-sm);
}
