@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "./components/Login/Login.scss";
@import "./components/Signup/Signup.scss";
@import "./components/Footer/Footer.scss";
@import "./components/Landing/Landing.scss";
@import "./components/Common/Button/Button.scss";
@import "./components/Dash/Dash.scss";
@import "./components/Projects//Project.scss";
@import "./components/Sidebar/Sidebar.scss";
@import "./components/AddProject/AddProject.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
