.dashboard-wrapper {
  height: calc(100% - 2em);
  width: calc(100% - 2em);
  margin: 2rem;
  background-color: var(--color-dark-theme-secondary);

  display: grid;
  grid-template-columns: 26rem auto;

  @media (max-width: 900px) {
    height: 100%;
    width: 100%;
    margin: 0rem;
  }

  @include respond(tablet) {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1fr;
  }
}
.content {
  margin: 2rem;
}
