@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
html,
body,
#root {
  height: 100%;
}
:root {
  --color-primary: rgb(250, 128, 114);
  --color-primary-light: rgb(250, 178, 139);
  --color-primary-dark: rgb(200, 102, 91);

  --color-accent-primary: #8072fa;
  --color-accent-light: #b3abfc;

  --color-grey-light: #f4f4f4;
  --color-grey-medium: #aaa;
  --color-grey-dark: #666;

  --color-white: #fff;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
