@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
html,
body,
#root {
  height: 100%;
}
:root {
  --color-primary: #8072fa;
  --color-primary-light: rgb(179, 171, 252);

  --color-grey-light: #f4f4f4;
  --color-grey-primary: #bdbdbd;
  --color-grey-secondary: #9e9e9e;

  --color-white: #fff;

  --color-dark-theme-primary: #121212;
  --color-dark-theme-secondary: #212121;
  --color-dark-theme-tertiary: #424242;
  --color-dark-theme-light: #616161;

  // --color-dark-theme-dark:
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-primary-light);
}
