.signup {
  color: var(--color-grey-dark);

  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 25% 15% 15% 15% 15% 15%;

  &__title {
    font-size: 1.6rem;
    text-align: center;
    align-self: center;
    color: var(--color-grey-dark);
  }
}
