.dashboard-sidebar {
  background-color: var(--color-white);
  box-shadow: 2px 2px 2px var(--color-grey-light);
  display: flex;
  flex-direction: column;
}
.dashboard-nav-link {
  color: var(--color-grey-medium);
  height: 5rem;
  text-decoration: none;

  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--color-grey-light);
  }
  &__text {
    margin-left: 20%;

    text-transform: capitalize;
    letter-spacing: 0.2rem;
  }
}
.dashboard-nav-link:first-child {
  margin-top: 12.5rem;
}
