.dashboard-sidebar {
  background-color: var(--color-white);
  box-shadow: 1px 1px 1px var(--color-grey-medium);
  display: flex;
  flex-direction: column;
}
.dashboard-nav-link {
  color: var(--color-grey-dark);
  height: 5rem;
  margin-left: 10%;

  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.dashboard-nav-link:first-child {
  margin-top: 12.5rem;
}
