.project-wrapper {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 1px #ccc;
  cursor: pointer;
  text-decoration: none;
}
.project-title {
  font-size: 18px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.1rem;
  color: #333;
}
