.sprint-console {
  color: var(--color-grey-light);

  height: 100%;
  margin: 0 2rem;

  display: grid;
  grid-template-rows: 40% 30% 30%;
  grid-template-columns: 25rem auto;

  grid-template-areas:
    'title  body'
    'date  body'
    'createTicket  body';

  &__title {
    font-weight: 300;
    font-size: 2.4rem;
  }
  &__dates {
    grid-area: date;
    font-size: 1.35rem;
    font-style: italic;
    color: var(--color-primary-light);
  }

  .story-points {
    grid-area: body;

    color: var(--color-grey-light);
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.4rem;
    align-self: center;

    padding: 0.5rem;
    line-height: 1.4;
    width: 8rem;
    height: 8rem;
    border: 0.6rem solid var(--color-primary-light);
    border-radius: 50%;
    &__title {
      font-weight: 300;
      font-size: 1.1rem;
      text-align: center;
    }
  }
  #create-ticket-btn {
    grid-area: createTicket;
    color: var(--color-grey-light);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;

    transition: 0.25s ease-in-out;
    &:hover {
      color: var(--color-primary);
    }
  }
  z-index: 0;
}
