.sprint-console {
  height: 100%;
  padding: 1rem;

  display: flex;
  align-items: center;

  &__title {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 2.4rem;
    margin-left: 2.4rem;
  }

  .story-points {
    color: var(--color-grey-light);
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.4rem;

    padding: 0.5rem;
    line-height: 1.4;
    width: 10rem;
    height: 10rem;
    border: 0.8rem solid var(--color-primary-light);
    border-radius: 50%;
  }
  #showCreateTicket-btn {
    background-color: var(--color-dark-theme-primary);
    border-radius: 50%;
    border: 2px solid var(--color-primary-light);
    color: var(--color-primary-light);

    font-size: 2rem;
    text-align: center;
    width: 5rem;
    height: 5rem;

    z-index: 0;

    outline: none;
  }
}
