.sprint-console {
  width: 80%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 40% 60%;
}
.sc-item {
  background-color: #f4f4f4;
  border: 1px solid #c3c3c3;
  margin: 0.5rem 1rem;
}
