.oauth-btn {
  border: none;
  border-radius: 0.4rem;
  background-color: var(--color-white);
  border: 0.2rem solid transparent;
  border-color: var(--color-grey-light);

  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(14, 19, 24, 0.7);

  width: 90%;
  margin: 0 5%;
  height: 4.2rem;
  align-self: center;
  position: relative;

  &:hover {
    border-color: var(--color-grey-medium);
    transition: 0.25s ease-out;
  }
  span {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
  }
}
