$mobile_nav_icon_size: 2.4rem;

.dashboard-mobile-nav {
  @include full_wh;
  display: none;

  &__link {
    @include flex_center;
    color: var(--color-primary-light);
    flex-grow: 1;
    height: 100%;
    text-decoration: none;
    i {
      font-size: $mobile_nav_icon_size;
    }
  }

  @include respond(mobile) {
    @include flex_center;
    text-align: center;
  }
}
