$sprint-item-background-color: transparent;
$sprint-item-height: 4rem;
$sprint-item-z-index: 0;
$sprint-item-title-margin: 0 2rem;

.sprint-item {
  @include btn_hover_animation;
  @include border_outline_none;
  align-items: center;
  background-color: $sprint-item-background-color;
  color: var(--color-grey-light);
  display: flex;
  height: $sprint-item-height;
  position: relative;
  text-decoration: none;
  z-index: $sprint-item-z-index;
  &__title {
    margin: $sprint-item-title-margin;
  }
}
