$sprint-sidebar-height: 100%;
$sprint-sidebar-box-shadow: 2px 0 8px -6px rgb(0, 0, 0);
$sprint-sidebar-width: 26rem;

$collapse-sidebar-btn-diameter: 4rem;
$collapse-sidebar-btn-font-size: 2.4rem;
$create-sprint-btn-font-size: 1.4rem;

.sprint-sidebar {
  background-color: var(--color-dark-theme-secondary);
  box-shadow: $sprint-sidebar-box-shadow;
  height: $sprint-sidebar-height;
  color: var(--color-grey-light);
  position: relative;
  width: $sprint-sidebar-width;
  .create-sprint-btn {
    border: none;
    cursor: pointer;
    font-size: $create-sprint-btn-font-size;
    letter-spacing: var(--letter-spacing-md);
    margin: 2rem 3rem;
    outline: none;
    transition: var(--transition-fast);
    &:hover {
      color: var(--color-primary-light);
    }
  }
  &.collapsed {
    transition: var(--transition-fast);
    width: 6rem;
    .create-sprint-btn {
      display: none;
    }
    .sprint-item {
      display: none;
    }
  }
}

.collapse-btn {
  @include flex_center;
  background-color: var(--color-dark-theme-secondary);
  color: var(--color-primary-light);
  cursor: pointer;
  font-size: $collapse-sidebar-btn-font-size;
  height: $collapse-sidebar-btn-diameter;
  margin-left: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: $collapse-sidebar-btn-diameter;
}
