.create-project-btn {
  border: 0.2rem dashed var(--color-grey-medium);
  @include projectItem;
  .plus {
    color: var(--color-grey-medium);
    font-size: 4rem;
    margin-top: 30%;
    font-weight: 300;
  }
  p {
    top: 1.6rem;
    color: var(--color-grey-medium);
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    position: absolute;
  }
}
