.my-que-ticket {
  @include ticketEl;
  display: grid;
  grid-template-columns: 1.8rem 8% auto 15%;
  height: 4rem;
  .t-col {
    @include ticketCol;
    &:not(:nth-child(3)) {
      justify-content: center;
    }
    &:first-child {
      color: var(--color-dark-theme-primary);
    }
    &:nth-child(2) {
      margin-left: 2rem;
    }
    &:nth-child(3) {
      margin-left: 2rem;
    }
    &:nth-child(4) {
      margin-left: auto;
      margin-right: 1rem;
    }
  }
  @include respond(tablet) {
    height: 5rem;
  }

  @include respond(mobile) {
    grid-template-columns: 2rem 4rem auto;
    .t-col {
      &:nth-child(4) {
        display: none;
      }
    }
  }
}
