.wrapper {
  border: 1px solid #f5f5f5;
  box-shadow: 0px 1px 1px #c3c3c3;
  cursor: pointer;
  height: 56px;
  margin: 1px 2px 7px 2px;
  padding-top: 8px;
  margin-left: 2.5%;
  width: 95%;
}
.title {
  color: #fa8072;
  font-size: 12px;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
}
