/*
 Media Query Manager
320 - 480px     Mobile 
481 - 768px     Tablet 
769 - 1024px    Laptop - Normal Styles
*/
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 32em) {
      @content;
    } // 480px
  }
  @if $breakpoint == tablet {
    @media (max-width: 48em) {
      @content;
    } // 768px
  }
}

@mixin full_wh {
  height: 100%;
  width: 100%;
}

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_direction_col {
  display: flex;
  flex-direction: column;
}

@mixin absolute_tl {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin border_outline_none {
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin btn {
  border: none;
  border-radius: 0.4rem;
  color: var(--color-white);
  cursor: pointer;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  outline: none;
}

@mixin formEl {
  background-color: var(--color-dark-theme-primary);
  border: none;
  border-bottom: 0.1rem solid var(--color-dark-theme-tertiary);
  color: var(--color-grey-light);
  font-size: 1.4rem;
  height: 4rem;
  line-height: 1.6rem;
  width: 100%;

  &:focus {
    outline: none;
    border-bottom: 0.2rem solid var(--color-primary-light);
    transition: var(--transition-fast);
  }
}

@mixin ticketEl {
  height: 3.2rem;
  margin-bottom: 0.2rem;
  background-color: var(--color-dark-theme-primary);
  &:hover {
    background-color: var(--color-dark-theme-tertiary);
    cursor: pointer;
  }
  .low {
    background-color: var(--color-green);
  }
  .medium {
    background-color: var(--color-orange);
  }
  .high {
    background-color: var(--color-red);
  }
}

@mixin ticketCol {
  align-items: center;
  color: var(--color-grey-light);
  display: flex;
  font-size: 1.4rem;
  text-transform: capitalize;
}
