@mixin btn {
  border: none;
  border-radius: 0.4rem;
  color: var(--color-white);
  cursor: pointer;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  outline: none;
}

@mixin projectItem {
  border-radius: 1.6rem;
  cursor: pointer;

  height: 15rem;
  width: 15rem;

  display: flex;
  justify-content: center;
  position: relative;

  margin: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  &__title {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.1rem;
    color: var(--color-grey-medium);
  }
  &:hover {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

@mixin formEl {
  background-color: var(--color-white);
  font-size: 1.8rem;

  border: none;
  border: 0.1rem solid var(--color-grey-dark);
  border-radius: 0.4rem;

  height: 3.4rem;
  width: 100%;

  &:focus {
    outline: none;
    border: 0.2rem solid var(--color-primary);
  }
}
