.btn-primary {
  background-color: var(--color-primary);
  @include btn;
  &:hover {
    background-color: var(--color-primary-light);
  }
}
.btn-primary-light {
  background-color: var(--color-primary);
  @include btn;
  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.btn-dark {
  background-color: var(--color-dark-theme-secondary);
  color: var(--color-grey-light);
  transition: 0.2s ease-in-out;
  @include btn;
  &:hover {
    background-color: var(--color-primary);
  }
}
