.btn-primary {
  background-color: var(--color-primary);
  @include btn;
  &:hover {
    background-color: var(--color-primary-light);
  }
}
.btn-primary-light {
  background-color: var(--color-primary);
  @include btn;
  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.btn-white {
  background-color: var(--color-white);
  color: var(--color-primary-dark);
  @include btn;
  &:hover {
    border: 1px solid var(--color-primary-light);
  }
}
