.form-field {
  width: 100%;
  margin: 1rem 0;

  label {
    color: var(--color-grey-light);
    font-size: 1.4rem;
    font-weight: 400;
  }
  input {
    @include formEl;
    margin-top: 0.25rem;
    padding: 0.5rem;
  }
  select {
    @include formEl;
    color: var(--color-grey-light);
    text-transform: capitalize;
  }

  textarea {
    @include formEl;
    height: 6.4rem;
  }
  &__required {
    color: var(--color-primary);
    margin-left: 1rem;
  }
}
