$nav-link-background-color: transparent;
$nav-link-height: 5rem;
$nav-link-color-transition: 0.5s;
$nav-link-padding-l: 20%;
$nav-link-font-size: 1.6rem;

.dashboard-nav-link {
  @include btn_hover_animation;
  @include border_outline_none;
  align-items: center;
  background-color: $nav-link-background-color;
  color: var(--color-grey-light);
  display: flex;
  font-size: $nav-link-font-size;
  height: $nav-link-height;
  letter-spacing: var(--letter-spacing-md);
  position: relative;
  padding-left: $nav-link-padding-l;
  text-decoration: none;
  text-transform: capitalize;
  z-index: 0;

  @include respond(tablet) {
    @include flex_center;
    height: 100%;
    padding-left: 0;
  }
  @include respond(mobile) {
    display: none;
  }
}
.active {
  color: var(--color-primary-light);
  transition: color $nav-link-color-transition;
  &:hover {
    color: var(--color-white);
  }
}
