$nav-link-background-color: transparent;
$nav-link-height: 5rem;
$nav-link-color-transition: 0.5s;
$nav-link-text-margin-l: 20%;
$nav-link-text-font-size: 1.6rem;

.dashboard-nav-link {
  @include btn_hover_animation;
  @include border_outline_none;
  align-items: center;
  background-color: $nav-link-background-color;
  color: var(--color-grey-light);
  display: flex;
  height: $nav-link-height;
  position: relative;
  text-decoration: none;
  z-index: 0;
  &__text {
    font-size: $nav-link-text-font-size;
    letter-spacing: var(--letter-spacing-md);
    margin-left: $nav-link-text-margin-l;
    text-transform: capitalize;
  }
  @include respond(tablet) {
    @include flex_center;
    height: 100%;
    &__text {
      margin-left: 0;
    }
  }
  @include respond(mobile) {
    display: none;
  }
}
.active {
  color: var(--color-primary-light);
  transition: color $nav-link-color-transition;
  &:hover {
    color: var(--color-white);
  }
}
