.create-project-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  .form-field {
    width: 100%;
    margin: 2rem 0;
    label {
      color: var(--color-grey-medium);
      font-size: 1.4rem;
      font-weight: 400;
    }
    input {
      width: 100%;
      border: none;
      border: 0.2rem solid var(--color-grey-medium);
      border-radius: 0.4rem;
      font-size: 1.8rem;
      height: 3.4rem;
      margin-top: 0.5rem;
      padding: 0.5rem;
      &:focus {
        outline: none;
        border: 0.2rem solid var(--color-accent-light);
      }
    }
  }
}
