.auth-card {
  height: 42rem;
  width: 32rem;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  border-radius: 0.6rem;
  margin-top: 2rem;
  &:hover {
    transform: translateY(2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}

.switch {
  margin: 0 10%;
  font-size: 1.4rem;
  span {
    color: var(--color-accent-primary);
    margin-left: 1rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;

    &:hover {
      cursor: pointer;
      color: var(--color-accent-light);
    }
  }
}

.signup-btn,
.signin-btn,
.default-btn {
  margin: 0 8%;
  width: 84%;
}

.auth-input {
  width: 84%;
  margin: 0 8%;
  padding-left: 0.8rem;
  height: 4rem;
  background: var(--color-white);

  border: none;
  border: 0.2rem solid transparent;
  border-color: var(--color-grey-light);
  border-radius: 0.4rem;

  line-height: 1.6rem;
  font-size: 1.4rem;
  color: var(--color-grey-dark);

  &:hover {
    border-color: var(--color-grey-light);
    transition: 0.25s ease-out;
  }
  &:focus {
    outline: none;
    border-color: var(--color-accent-light);
    transition: 0.25s ease-out;
  }
}
