.landing {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
@media (max-width: 768px) {
  .landing {
    grid-template-columns: 1fr;
  }
}
.signup-btn {
  position: absolute;
  right: 24px;
  top: 36px;
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 0.8rem;
  border-radius: 5px;
  color: #fff;
  background-color: #19256d;
}
