.ticket {
  @include ticketEl;
  display: grid;
  grid-template-columns: 1% 49% 10% 15% 15% 10%;
  .t-col {
    @include ticketCol;
    &:not(:nth-child(2)) {
      justify-content: center;
    }
    &:nth-child(2) {
      margin-left: 2rem;
    }
    &:last-child {
      color: var(--color-primary-light);
    }
  }
}

.completed {
  background-color: var(--color-dark-theme-secondary);
  .t-col {
    color: var(--color-grey-primary);
    text-decoration: line-through;
    &:last-child {
      color: var(--color-grey-secondary);
    }
  }
}

.assigned {
  background-color: var(--color-dark-theme-secondary);
  .t-col {
    color: var(--color-grey-secondary);
    &:last-child {
      color: var(--color-dark-theme-tertiary);
    }
  }
}
