.sidebar {
  max-width: 350px;
  height: 100vh;
  padding: 2rem;
  background-color: #f4f4f4;
  position: relative;
  h2 {
    margin-top: 0;
    letter-spacing: 2px;
    color: #19256d;
  }
  ul {
    padding: 0;
    li {
      padding: 0.8rem;
      list-style: none;
      color: #19256d;
      i {
        font-size: 1.3rem;
      }
      a {
        margin-left: 1.25rem;
        color: #19256d;
        text-decoration: none;
      }
    }
  }
  .display-sidebar {
    height: 36px;
    width: 36px;
    border: 1px solid #19256d;
    border-radius: 50%;
    position: absolute;
    right: -24px;
    top: 24px;
    color: #19256d;
    outline: none;

    i {
      font-size: 0.75rem;
    }
    transition: background;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    &:hover {
      background-color: #19256d;
      color: #fff;
    }
  }
}
