.landing {
  background-color: var(--color-white);
  height: 100vh;
  &__hero {
    background-image: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-primary-light)
    );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    height: 85vh;

    display: grid;
    grid-template-rows: 12% 88%;
    grid-template-columns: 60% 40%;
    grid-gap: 1rem;
    grid-template-areas:
      'header header'
      'display auth';
    .hero__header {
      grid-area: header;
      // border: 1px dashed var(--color-white);
    }
    .hero__display {
      grid-area: display;
      // border: 1px dashed var(--color-white);
      color: var(--color-white);

      display: grid;
      grid-template-rows: 20% 80%;
      grid-gap: 2rem;
      margin-left: 4rem;
    }
    .hero__auth {
      grid-area: auth;
      // border: 1px dashed var(--color-white);

      display: flex;
      justify-content: center;
    }
    @media (max-width: 970px) {
      grid-template-rows: 12% 88%;
      grid-template-columns: 100%;
      grid-template-areas:
        'header header'
        'auth auth';
      .hero__display {
        display: none;
      }
    }
  }
}

.app-logo {
  font-size: 96px;
  letter-spacing: 0.4rem;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  margin-top: -3rem;
}
.hero__slogan {
  font-size: 22px;
}
