$user-img-height: 8rem;
$user-img-width: 8rem;
$user-img-border-radius: 50%;
$user-name-font-size: 50%;

$tablet-grid-cols: repeat(6, 1fr);
$tablet-user-img-height: 5rem;
$tablet-user-img-width: 5rem;

.dashboard-nav {
  box-shadow: var(--box-shadow-medium);
  display: flex;
  flex-direction: column;
  &__usr-img {
    align-self: center;
    background-color: var(--color-primary-light);
    border-radius: $user-img-border-radius;
    height: $user-img-height;
    margin-bottom: var(--margin-sm);
    margin-top: var(--margin-md);
    width: $user-img-width;
  }
  &__usr-name {
    align-self: center;
    color: var(--color-grey-secondary);
    font-size: $user-name-font-size;
    letter-spacing: var(--letter-spacing-sm);
  }

  @include respond(tablet) {
    box-shadow: var(--box-shadow-light);
    display: grid;
    grid-template-columns: $tablet-grid-cols;
    &__usr-img {
      justify-self: center;
      height: $tablet-user-img-height;
      width: $tablet-user-img-width;
      margin: 0;
    }
    &__usr-name {
      display: none;
    }
  }

  @include respond(mobile) {
    display: flex;
    &__usr-img {
      display: none;
    }
  }
}
