.projects-wrapper {
  height: calc(100% - 2em);
  width: calc(100% - 2em);
  margin: 2rem;
  background-color: var(--color-dark-theme-secondary);
  display: grid;
  grid-template-columns: 15% 85%;

  @media (max-width: 970px) {
    height: 100%;
    width: 100%;
    margin: 0rem;
  }

  .sprint-wrapper {
    display: grid;
    grid-template-rows: 15% 15% 70%;
  }

  .project-team-section {
    // border: 0.1rem solid var(--color-grey-light);
    margin: 1rem;
  }
}
