.projects-wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--color-dark-theme-secondary);
  display: grid;
  grid-template-columns: 6rem 18rem auto;
  @-moz-document url-prefix() {
    transition: 0.4s ease-in-out;
  }
  .app-nav {
    background-color: var(--color-dark-theme-secondary);
    box-shadow: 2px 0 8px -5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__link {
      display: flex;
      text-align: center;
      text-decoration: none;
      &:first-child {
        margin-top: 10rem;
      }
      i {
        color: var(--color-primary-light);
        font-size: 2.5rem;
        margin-bottom: 4rem;
      }
    }
  }
  .dashboard-nav {
    display: none;
  }

  .sprint-wrapper {
    width: auto;
    display: grid;
    grid-template-rows: 15% 15% 70%;
  }

  .project-team-section {
    margin: 2rem 4rem;
    color: var(--color-grey-light);
    letter-spacing: 0.25rem;
    font-size: 1.6rem;

    display: flex;
  }
  @include respond(tablet) {
    height: calc(100% + 6em);
    grid-template-rows: 8rem auto;
    grid-template-columns: auto;
    grid-template-areas:
      'nav nav'
      'sprint sprint';
    .app-nav {
      display: none;
    }
    .project-team-section {
      margin: 2rem;
    }
    .sprint-sidebar {
      display: none;
    }
    .dashboard-nav {
      grid-area: nav;
      display: grid;
    }
    .sprint-wrapper {
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
    }
  }
}
.pw-coll {
  grid-template-columns: 6rem 0 auto;
  @include respond(tablet) {
    grid-template-columns: auto;
  }
}
