.projects-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}
.project-slim-sidebar {
  background-color: var(--color-primary-light);
  width: 8rem;
  height: 100%;
}
.sprint-wrapper {
  width: 80%;
  display: grid;
  grid-template-rows: 40% 60%;
}
