.sprint-sidebar {
  background-color: var(--color-dark-theme-secondary);
  box-shadow: 0 2px 5px rgb(0, 0, 0);

  height: 100%;
  color: var(--color-grey-light);

  &__title {
    margin: 2rem 0 2rem 4rem;
    font-weight: 400;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
  }
  &__btn {
    margin: 2rem 0 2rem 4rem;
    cursor: pointer;

    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
}
