$alert-width: 32rem;

.alert-container {
  position: fixed;
  top: 5rem;
  left: 50%;
}

.alert {
  width: $alert-width;
  background-color: var(--color-dark-theme-primary);
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
  transition: 0.25s;
  transform: translateY(100px);
}
.fail {
  color: var(--color-red);
}
.success {
  color: var(--color-green);
}
.animate {
  transform: translateY(0);
}
