.ticket {
  @include ticketEl;
  display: grid;
  grid-template-columns: 1% 49% 10% 15% 15% 10%;
  height: 3.4rem;
  .t-col {
    @include ticketCol;
    &:not(:nth-child(2)) {
      justify-content: center;
    }
    &:nth-child(2) {
      margin-left: 2rem;
    }
    &:last-child {
      color: var(--color-primary-light);
    }
  }
}

.assigned {
  background-color: var(--color-dark-theme-secondary);
  .t-col {
    color: var(--color-grey-secondary);
  }
}
.submitted {
  background-color: var(--color-dark-theme-secondary);
  .t-col {
    color: var(--color-grey-primary);
    &:nth-child(5) {
      color: var(--color-green);
    }
  }
}
.completed {
  background-color: var(--color-dark-theme-tertiary);
  .t-col {
    color: var(--color-green);
    &:nth-child(2) {
      text-decoration: line-through;
    }
    &:last-child {
      color: var(--color-green);
    }
  }
}
