.projects {
  .header-area {
    display: flex;
    h2 {
      margin-left: 2rem;
      margin-top: 38px;
      color: $primary-color;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
    }
    button {
      margin-left: auto;
      margin-top: 32px;
      margin-right: 24px;
      height: 36px;
      width: 36px;
      border: 2px solid $primary-color;
      border-radius: 50%;
      color: $primary-color;
      outline: none;

      i {
        font-size: 0.75rem;
      }
      transition: background;
      transition-duration: 0.25s;
      transition-timing-function: ease-in-out;
      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}
