.default {
  color: var(--color-white);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 30% 15% 15% 40%;
  .auth-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: var(--color-grey-light);
  }
}
